

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.main {
  min-width: 1440px;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 92.29%), url("../img/BgImage.jpg");
  background-repeat: no-repeat;
  background-size: cover, cover;
  color: #fff;
  display: flex;
  justify-content: center;
  
}
.container {  
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.main__wrapp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.nav.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 5%;
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
}
.logo {
}
.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 700;
  
}

.navbar__item {
  position: relative;
}
.navbar__item a{
  text-decoration: none;
  color: #fff;
}
.navbar__item +  .navbar__item {
  margin-left: 40px;
  font-size: 18px;
  
}

.link::before, .link::after {
  content: '';
  position: absolute;
  opacity: 0;
}

.link:hover::after{
  
  bottom: -5px;
  left: -5%;
  width: 110%;
  height: 1px;
  opacity: 1;
  background: #fff;
  animation: gotop1 1s;
  transition: 1s;
}

.link:hover::before{
  content: '';
  position: absolute;
  bottom: -4px;
  left: -5%;
  width: 110%;
  height: 1px;
  opacity: 1;
  background: #fff;
  animation: gotop2 0.5s;
  transition: 0.5s;
}



.main-block {
  display: flex;
}
.main-block__info {
  max-width: 49%;

}
.main-block__title {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}
.main-block__discription {
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 30px;

}
.main-block__text {
  font-size: 24px;
  font-weight: 400;
}
.main-block__image {
  position: relative;
  width: 49%;
}
.lamp1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 80px rgba(255, 255, 255, 0.25));
  

}
.gonext-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gonext-block__btn {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  transition: 0.2s;
  -webkit-animation: pulsing 1.5s infinite;
  animation: pulsing 1.5s infinite;
}

.gonext-block__btn:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.75), 0 0 40px rgba(255, 255, 255, 0.75), 0 0 80px rgba(255, 255, 255, 0.75);
  -webkit-animation: none;
  animation: none;
  transition-delay: 1s;
  
}

.gonext-block__btn span {
  position: absolute;
  display: block;
}

.gonext-block__btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255));
}
.gonext-block__btn:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.gonext-block__btn span:nth-child(3) {
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgba(255, 255, 255));
}
.gonext-block__btn:hover span:nth-child(3) {
  left: -100%;
  transition: 1s;
  transition-delay: 0.5s;
  
}

.gonext-block__btn span:nth-child(4) {
  top: 100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, rgba(255, 255, 255));
}
.gonext-block__btn:hover span:nth-child(4) {
  top: -100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}
.gonext-block__btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(255, 255, 255));
}
.gonext-block__btn:hover span:nth-child(2) {
  top: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
}

/* Продукция */
.product {
}

.section-title {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
}
.section-title h2 {
  font-size: 36px;
  padding: 60px 0 40px;
}

.container {
}
.tabs {
  display: flex;
  flex-wrap: wrap;

}
.tabs__items {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
    
}

.tabs__item {
  padding: 20px;
  text-decoration: none;
  color: #000;
  display: block;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #acacaca9;
  
}
.tabs__item.active {
  background-color: #acacac1e;
  color: #fff;
  text-shadow: 0 0 4px #000, 0 0 6px #000, 0 0 8px #000 ;
  border: 1px solid #acacaca9;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  
}
.tabs__header {
 
}
.tabs__title {
  font-size: 30px;
}
.tabs__subtitle {
  font-size: 22px;
}
.tabs__text {
  font-size: 16px;
}
.tabs__body {
}
.tabs__block {  
  border: 1px solid #acacaca9;
  border-radius: 0 0 5px 5px;
  border-top: none;
  flex-wrap: wrap;
  justify-content: space-around;
  display: none;
  flex-basis: 50%;
  background-color: #acacac1e;
  margin-bottom: 20px;
}

.tabs__block.active{
  display: flex;
}
.block-item {
  flex-basis: 22%;
  height: 450px;
  border: 1px solid #acacaca9;
  border-radius: 10px;
  box-shadow: 0 0 3px #000;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;

  
}
.block-item__image {
  margin-top: 15px;
  margin-bottom: 20px;
}
.block-item__title {
  margin-bottom: 10px;
}
.block-item__param {
  margin-bottom: 15px;
}
.block-item__btn {
  border: none;
  padding: 15px 25px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
}

/* Галерея */
.gallery {
  background-color:#acacac1e;
}
.container {
}
.section-title {
}
.gallery__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gallery__item {
  flex-basis: 26%;
  border-radius: 3px;
  border: 1px solid #acacaca9;
  background-color: #fff;
  margin: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  
}

/* Контакты */

.contacts {
}
.container {
}
.section-title {
}
.contacts-block {
  display: flex;
  margin-bottom: 50px;
}
.contacts-block__text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.contacts-block__text p + p {
  margin-top: 20px;
}
.contacts-block__map {
  flex-basis: 50%;
}

/* Модальное окно */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility:visible;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%), rotateX(0deg);
  opacity: 1;
}
.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 90%;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
  color: #000;
}

.popup__info-block {
  display: flex;
  justify-content: space-around;
}
.popup__slider {
  flex-basis: 40%;
  overflow: hidden;
}
.popup__slider img{
  width: 90%;
  height: auto;
}
.popup__item-info {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.popup__title {
  font-size: 24px;
  font-weight: 700;
}
.popup__param {
  font-weight: 600;
}
.popup__param + .popup__param {
  font-weight: 600;
  margin-top: 20px;
}
.popup__param span{
  font-weight: 400;
}
.send-request-btn {
  margin-top: 20px;
  padding: 15px 40px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background-color: rgb(252, 23, 23);
  border-radius: 15px;
  align-self: baseline;
}
.popup__docs {
  display: flex;
  justify-content: space-around;
}
.popup__download-item {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup__icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: tomato;
  margin-bottom: 20px;
}
.popup__download-item-title {
  font-size: 20px;
  font-weight: 700;
}
.popup__tech-params {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.popup__tech-params h2 {
  align-self: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.popup__tech-param {
  display: flex;
  justify-content: center;
  
}
.popup__tech-param:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #000;
}
.popup__tech-param:nth-child(odd) p {
  background-color: rgb(158, 158, 158);
}
.popup__tech-param p {
  flex-basis: 30%;
  padding: 10px;
  
}
.popup__tech-param p + p{
}


.popup-email-send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-email-send img {
  align-self: center;
}
.popup-title-form {
  font-size: 20px;
  text-align: center;
}
.popup-form {
  display: flex;
  flex-direction: column;
}
.popup-form__input {
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(180, 180, 180);
}
.popup-form-sendbtn {
  margin-top: 20px;
  background-color: rgb(89, 207, 114);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;

}

@-webkit-keyframes gotop1 {
  0% {
    -webkit-transform: translate(0, 14px);
    transform: translate(0, 10px)
  }
  100% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px)
  }
}
@-webkit-keyframes gotop2 {
  0% {
    -webkit-transform: translate(0, 14px);
    transform: translate(0, 14px)
  }
  100% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px)
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}

@-webkit-keyframes initscale {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
}

@keyframes initscale {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
}

